@using Microsoft.AspNet.Identity
@model WheelOfFortune.Models.Domain.Balance
    

@{
    ViewBag.Title = "Wheel Of Fortune";
}

<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet" type="text/css">
@Styles.Render("~/Content/Wheel/style.css")
@Styles.Render("~/Content/index.css")


<div class="container">
    
    <div class="panel panel-default" id="usersPlatform">
        <div class="panel-heading">
            <p class="text-info">@User.Identity.Name Balance Value</p>
        </div>
        <div class="panel-body" id="balanceValueContainer" data-userId="@User.Identity.GetUserId()">
            
        </div>

    </div>




    @Html.Partial("WheelContainer")

</div>

@section scripts {
    @Scripts.Render("~/bundles/IndexView")
    <script type="text/javascript">
        $(function () {
           IndexController_init();
        });
    </script>
}