@model WheelOfFortune.Models.ViewModels.ApplicationUserViewModel
@{
    ViewBag.Title = "Wheel Of Fortune";
}

<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet" type="text/css">
@Styles.Render("~/Content/Wheel/style.css")
@Styles.Render("~/Content/index.css")
@Styles.Render("~/Content/toastr.css")


<div >

    <section class="gs-intro gs-main-content">
        <div class="gs-intro-content mask-2">
            <div class="content-wrapper">
                <div>
                    <div class="logo-container">
                        <img src="../Content/img/now-logo.png" alt="Logo" width="120px;">
                    </div>
                    <h1>Wheel Of Fortune</h1>
                    <p>You Are Awesome, Play now we need your moneyyyyy.</p>
                    <div class="action-wrapper">
                        <a href="#modal-1" class="add-to-box gs-modal-trigger" id ="betAndPlayBtn" style="padding:20px;">Bet & Play</a>
                        <a href="#modal-2" class="add-to-box " id="ww-tour-trigger" style="padding:20px; margin-left:20px;">How to</a>
                    </div>
                </div>
            </div>
        </div>

    </section> 

    @Html.Partial("WheelContainer")


    <ul class="ww-tour-wrapper">
        <li class="ww-single-step">
            <span>Step 1</span>
            <div class="ww-more-info bottom">
                <h2>Step 1</h2>
                <p>Press the Bet & Play button to start playing!
                <br />
                Press next to continue!</p>
            </div>
        </li> <!-- .ww-single-step -->
        <li class="ww-single-step">
            <span>Step 2</span>
            <div class="ww-more-info left">
                <h2>Step 2</h2>
                <p>Use the slider for betting!
                <br />
                 Press next to continue!
                </p>
            </div>
        </li> <!-- .ww-single-step -->
        <li class="ww-single-step">
            <span>Step 3</span>
            <div class="ww-more-info top">
                <h2>Step 3</h2>
                <p>Are you ready to PLAY press the PLAY button and enjoy!
                <br />
                 Press "X" to exit the tutorial!
                </p>
            </div>
        </li> <!-- .ww-single-step -->
    </ul> <!-- .ww-tour-wrapper -->
    
</div>




@section scripts {
    @Scripts.Render("~/bundles/IndexView")

    <script type="text/javascript">
        $(function() {
            const config = {
                userId: "@Model.Id.ToString()"
            };
            IndexController_init(config);
        });
    </script>
}