@{
    ViewBag.Title = "Wheel Of Fortune";
}

<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet" type="text/css">
@Styles.Render("~/Content/Wheel/style.css")
@Styles.Render("~/Content/index.css")

<<<<<<< HEAD
@Html.AntiForgeryToken()

    @Html.Partial("ControllBalance")
=======
<div class="container">
    
    <div class="panel panel-default" id="usersPlatform">
        <div class="panel-heading">
            <h3>Balance Value</h3>
        </div>
        <div class="panel-body" id="balanceValueContainer" data-userId="@User.Identity.GetUserId()">
            
        </div>
        <div class="dropdown-divider"></div>
        <div id="betValueContainer">
            <div class="panel-info">Bet Value</div>
            @Html.TextBox("BetValue")
@*            <button id="betValueSubmit" class="btn btn-group">Bet</button>*@
        </div>
     
        <div class="dropdown-divider"></div>
        <div id="despositCodesContainer">
            <div class="panel-info">Enter Deposit Code</div>
            @Html.TextBox("DepositCodes")
            <button id="depositCodeSubmit" class="btn btn-group">Enter Code</button>
        </div>

    </div>




>>>>>>> 2ab9c787aa8944f966ec41ff38e4e711b1ba5760
    @Html.Partial("WheelContainer")


@section scripts {
    @Scripts.Render("~/bundles/IndexView")
    <script type="text/javascript">
        $(function () {
           IndexController_init();
        });
    </script>
}