@using WheelOfFortune.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

    <div class="page-header-image"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form", role = "form" }))
{
    @Html.AntiForgeryToken()

                    <div class="header header-primary text-center">
                        <div class="logo-container">
                            <img src="../Content/img/now-logo.png" alt="">
                        </div>
                    </div>
                    <div class="content">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="input-group form-group-no-border input-lg">

                                @Html.LabelFor(m => m.Username, new { @class = "form-control" })
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                                   
   
                        </div>
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                        
                        <div class="input-group form-group-no-border input-lg">
                                @Html.LabelFor(m => m.Password, new { @class = "form-control" })
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                
                          </div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        <div>
                            <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input" })
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Remember me?</span>
                            </label>
                        </div>

                    </div>
                    <div class="footer text-center">
                        <input type="submit" value="Log in" class="btn btn-primary btn-round btn-lg btn-block" />
                    </div>
                    <div class="pull-left">
                        <h6>
                                @Html.ActionLink("Register as a new user", "Register", new { area = "" }, new { @class = "link" })
                        </h6>
                    </div>
                    <div class="pull-right">
                        <h6>
                            <a href="#" class="link">Need Help?</a>
                        </h6>
                    </div>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
}
            </div>
        </div>
    </div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}